.nav-btn {
  --bs-btn-color: #000000;
  --bs-btn-bg: #07fabd;
  --bs-btn-border-color: #00000060;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #edf5f0;
  --bs-btn-hover-border-color: #000000;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #01cc1c;
  --bs-btn-active-border-color: #000000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
  margin: 5px 0;
}

.btn-primary {
  --bs-btn-bg: #01cc1c;
  --bs-btn-color: #f7f7f7;
  --bs-btn-border-color: #00000060;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #edf5f0;
  --bs-btn-hover-border-color: #000000;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #01cc1c;
  height: 42px;
}

.btn-outline-primary {
  --bs-btn-active-bg: #01cc1c;
  --bs-btn-border-color: #01cc1c;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-border-color: #000000;
  --bs-btn-hover-bg: #01cc1c;
  --bs-btn-active-color: #fff;
  --bs-btn-active-border-color: #ffffff;
  
  
}

.btn-success {
  --bs-btn-color: #f7f7f7;
  --bs-btn-border-color: #00000060;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #edf5f0;
  --bs-btn-hover-border-color: #000000;
  --bs-btn-active-color: #fff;
  --bs-btn-active-border-color: #ffffff;
  height: 42px;
}

.btn-secondary {
  --bs-btn-color: #f7f7f7;
  --bs-btn-border-color: #00000060;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #edf5f0;
  --bs-btn-hover-border-color: #000000;
  --bs-btn-active-color: #fff;
  --bs-btn-active-border-color: #ffffff;
  height: 42px;
}

.btn-danger {
  --bs-btn-color: #f7f7f7;
  --bs-btn-border-color: #00000060;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #edf5f0;
  --bs-btn-hover-border-color: #000000;
  --bs-btn-active-color: #fff;

}

.switch-lg {
  transform: scale(1.5);
}

#backarrow {
width: 40px;
height: auto;
}

#backbtn {
 padding: 0;
}

.img-modal {
height:100%;
width:100%;
object-fit: contain;
}

.img-card {
height:100%;
width:100%;
object-fit: fill;
}


.img-preview {
  width: 100%;
  height: 100%;
  object-fit: contain;

}


.card-scroll {
  -webkit-mask-image: linear-gradient(to right, rgb(0, 0, 0) 85%, transparent 100%);
    mask-image: linear-gradient(to right, rgb(0, 0, 0) 85%, transparent 100%);
}

.fc a {
    color: inherit; /* Forces calendar to use the normal text color (black/gray) */
    text-decoration: none; /* Removes the underline */
}

[data-bs-theme="dark"] {

  --bs-tertiary-bg-rgb: 18, 18, 18;
  
}

[data-bs-theme="dark"] .btn-primary,
[data-bs-theme="dark"] .nav-btn {
--bs-btn-active-bg:#06e724;
--bs-btn-bg: #02a818;
}

[data-bs-theme="light"] {

  --bs-tertiary-bg-rgb: 3, 232, 252

}